.card {
    display: inline-flex;
    flex-direction: column;
    width: 250px;
    border: 1px solid #cacaca;
    border-radius: 3px;
    margin: .75rem;

    &__body {
        padding: 1.25rem;
        border-top: 2px solid #cacaff;
    }
}

h2 {
    font-size: 2rem;
    color: darken(#cacaca, 10%);
    margin: 0;
    padding: 1.25rem;
}
